@using Octo_FireFly.App.Pages.Dashboard.Models 
@inherits PageBase<DashboardViewModel>
@page "/"
@page "/dashboard"


<div>
    Tool: @ViewModel.CurrentToolActual / @ViewModel.CurrentToolTarget
</div>
<div>
    Bed: @ViewModel.CurrentBedActual / @ViewModel.CurrentBedTarget
</div>