@page "/oldIndex"

<h1>Hello, world!</h1>

Welcome to your new app. UPDATE WORKS

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<p>Message: @Configuration["OctoPrintConnector:ApiKey"]</p>
