@using Octo_FireFly.App.Pages.Print.Models
@inherits PageBase<PrintPageViewModel>
@page "/"
@page "/print"


<div>
    Tool: @ViewModel.CurrentToolActual / @ViewModel.CurrentToolTarget
</div>
<div>
    Bed: @ViewModel.CurrentBedActual / @ViewModel.CurrentBedTarget
</div>